body{
    margin: 0;
    padding: 0;

    /* background-color: rgb(0, 255, 110);
    background-image: url(Bhupendra-Jogi-.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    background-position: top right;
   */
   background: url(Bhupendra-Jogi-.jpg) no-repeat top right 200px,url(images.jpeg)  no-repeat top left 150px
}
h1{
    color: blue;
}
